<div class="main">
	<!-- <h1 class="title">RTA TEST 1</h1> -->
	<div class="rta" id="rta">
		<!-- sketch.js will create div's here depending on freqArray -->
		<div class="rtalabel" id="rtalabel"></div>
	</div>
	<div class="options">
		<a class="opt" href="?bands=26" onClick="location.reload();">26-Band</a> <a class="opt" href="?bands=45" onClick="location.reload();">45-Band</a>
	</div>

</div>
