body {
	height: 0;
}

div {
	transition-duration: 0.09s;
}

.title {
	color: #999966;
	text-align: center;
}

.main {
	position: absolute;
	height: 90%;
	width: 100%;
}

.rta {
	margin-left: auto;
	height: 90%;
	width: 90%;
  transform: scaleX(-1);
  transform: scaleY(-1);
}

.rtabar {
	background-color: black;
	border-radius: 15px;
	margin: 1px;
	color: white;
	float: left;
	height: 100%;
}

.rtalabel {
	float: left;
	height: 20px;
	width: 100%;
}

.rtafreq {
	text-align: center;
	float: left;
	margin: 1px;
	height: 15px;
	font-size: 9px;
	font-weight: 9px;
	transform: scaleX(-1);
  transform: scaleY(-1);
}