<!DOCTYPE html>
<html>
<head>
  <title>Eric Eschelbach's Web RTA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:url"                content="https://rta3.herokuapp.com" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="Eric Eschelbach's Web RTA" />
	<meta property="og:description"        content="Javascript web-based responsive RTA" />
	<meta property="og:image"              content="https://rta3.herokuapp.com/rta.jpg" />

</head>
<body>

<%= yield %>

</body>
</html>
